
<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css', integrity: 'sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb', crossorigin: 'anonymous' %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <link href="https://use.fontawesome.com/releases/v5.0.2/css/all.css" rel="stylesheet">
    <%= javascript_include_tag 'application' %>

    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <%= render partial: 'layouts/favicon' %>
    <!-- Allow installing the app to the homescreen -->
    <link rel="manifest" href="../../javascript/packs/manifest.json">
    <meta name="mobile-web-app-capable" content="yes">
    <%# <%= render partial: 'layouts/google_analytics' %> %>
    <%= javascript_pack_tag 'index' %>
    <title>hello df</title>

  <body>
    <%# <script src="https://js.stripe.com/v3/"></script>
    <script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async=""></script>
    <script>
      var OneSignal = window.OneSignal || [];
      OneSignal.push(function() {
        OneSignal.init({
          appId: "01878175-9686-43a9-9652-a6292b7dd392",
        });
      });
    </script> %>
    <%= yield %>
  </body>
</html>
